.nav-info {
	height: inherit;
	line-height: inherit;
	display: flex;
	align-items: center;
}

.collpase-btn {
	cursor: pointer;
	padding: 5px;
	margin-right: 20px;
	&:hover {
		background-color: theme(header_border);
	}
}
