@import '@/assets/style.module.scss';
@import '../theme/common.scss';
.el-affix {
	width: 100%;
	height: theme(logo_height);
	display: flex;
	justify-content: center;

	.affix-logo {
		height: theme(logo_height);
	}
	& :deep(.el-affix--fixed) {
		display: flex;
		justify-content: center;
	}
}
.el-menu-vertical-demo {
	min-height: calc(100vh - 60px);

	&:not(.el-menu--collapse) {
		width: theme(aside_width);
	}
}

.el-scrollbar.submenu-main {
	@extend %centent-scrollbar;
}
